.idea
app/_pycache_/*
app/_pycache_/
app/migrations/*
app/migrations/
app/static/*
app/static/
app/templatetags/
app/_init_.py
app/modules.py
app/tests.py
venv/
db.sqlite3
manage.py
Relatorio_Tecnico_Final/


