#form-container {
     min-height: 100vh; /* Altura minina do banner para 100vh significa 100% da altura da tela */
     box-sizing: border-box; /* Considera o padding e a borda no cálculo do tamanho exato do banner */
     padding: 20px; /* Faz com que o conteúdo não encoste na borda do banner */
     color: black; /* Cora branca para a fonte para o texto */
     background-image: url("../img/banner.jpg"); /* Adicionar uma imagem fundo para o banner  */
     background-size: cover; /* Aumenta o background proporcionalmente até que ele fique maior que o banner tanto na largura quanto na altura  */
     background-position: center; /* Para centralizar o background no banner */
     max-width: 100%;
     background-color: rgba(0, 0, 0, 0.4); /* Definindo a cor para o background */
     background-blend-mode: multiply; /* Misturar a cor do background com a imagem */
     display: flex; /* Organiza os elementos dentro do banner */
     flex-direction: column; /* Modificr o eixo horizontal para o vertical */
     justify-content: center; /* Alinhando o contúdo ao centro Verticalmente */
     align-items: center; /* Alinhando o contúdo ao centro horizontalmente */
}

#form-box {
     width: 300px;
     padding: 20px;
     box-sizing: border-box;
}

#form-box input {
     font-size: large;
}