{% extends 'base.html' %}
{% load material_form %}
{% block title %}
Cadastro de chamádos
{% endblock title %}

{% block tituloPagina %}
Cadastro de Chamados
{% endblock tituloPagina %}

{% block content %}

 <form method="post">
     {% csrf_token %}
   {% form form=form %}{% endform %} <!-- Definindo nosso form com formato bootstrap -->
   <button type="submit" class="btn btn-primary">
     Salvar
    </button>
     <div class="btn btn-info">
         <a href="{% url 'maquina_new' %}"><span class="glyphicon glyphicon-th-large"></span></a>
     </div>
     <div class="btn btn-info">
        <a href="{{ request.META.HTTP_REFERER }}"><span class="glyphicon glyphicon-ban-circle"aria-hidden="true"></span></a>
     </div>
 </form>

{% endblock content %}
