{% extends 'base.html '%}
{% block title %}
Remoção de máquinas
{% endblock title %}


{% block content %} <!-- AKI COMEÇA O CÓDIGO -->
<form method="post">{% csrf_token %}
    <h4>Tem certeza que deseja excluir esta máquina ?</h4>
    <br/>
<button type="submit" class="btn btn-primary">
    Remover
</button>
    <div class="btn btn-info">
        <a href="{{ request.META.HTTP_REFERER }}"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></a>
    </div>
</form>

{% endblock content %} <!-- AKI TERMINA O CÓDIGO -->